.custom-file-input {
    display: inline-block;
    margin-top: 20px;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.preview-image {
    max-width: 100px;
    max-height: 100px;
    vertical-align: middle;
    margin-right: 10px;
}

.placeholder-image {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-text {
    vertical-align: middle;
}

/* Hide the default file input */
.file-input {
    display: none;
}