.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.accordion-header {
  border-radius: 3px;
  background-color: #FC7300;
  padding: 10px 15px;
  color: white;
  /* background-color: #f0f0f0; */
  cursor: pointer;
}

/* .accordion-content {
  padding: 10px;
  display: none;
}

.accordion-item.open .accordion-content {
  display: block;
} */